@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide Scrollbar */

.noScrollBar {
    -ms-overflow-style: none; /* [Internet Explorer 10+] hide Scroll bar */
    scrollbar-width: none; /* [Firefox] hide Scroll bar */
}

.noScrollBar::-webkit-scrollbar {
    display: none; /* [Safari and Chrome] hide Scroll bar */
  }

